CMakeCache.txt
cmake_install.cmake
.*.swp
*.vcxproj
*.filters
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
*.opensdf
*.sdf
*.suo
*.dir
*.sln
*.ipch
*.pdb
Win32
Debug
Release
CTestTestfile.cmake
DartConfiguration.tcl
*.user
build/
bin/
**/CMakeScripts
**/*.xcodeproj
